
*, ::after, ::before {
  box-sizing: border-box;
  /* overflow: hidden; */
}

.app{
  overflow: hidden;
}

.tree{
  /* border: 1px solid black; */
  margin: 100px 0 100px 500px;
  width: min-content;
  /* transform: translateX(-50%); */
}


